* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: #393939;
  background-color: #fff;
}

body {
  padding-top: 10px;
}

input {
  height: 18px;
  width: 130px;
  margin: 10px;
}

label {
  font-weight: bold;
}

button {
  height: 25px;
  padding: 3px;
  margin: 3px;
  vertical-align: middle;
}

.boxShadow {
  box-shadow: 10px 15px 39px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.nowrap {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
